body{
	
    background:lime;
	background-size:cover;
	color: White ;
	font-size: 50px	;
}
#TEST{
	margin:100px;
	
}
#polka_2{
    position:absolute;
	bottom:200px;
	left:80px;
}

#polka_1{
    position:absolute;
	bottom:300px;
	left:80px;
	
}
#shkaf{
	position:absolute;
	margin:10px;
	
	
}
#polka_1:hover{
	color:#000000;
	animation-name:spin;
	animation:spin 50s  ;
}
#polka_2:hover{
	color:#000000;
	animation-name:spin;
	animation:spin 50s  ;
	
}

@keyframes spin{
		 
		 0%{
			 left:80px;
		 }
		 1%{
			 left:210px;
		 }
		 
		 100%{
			 left:210px;
		 }
		
	}
